<footer>
  <p>

        <a href="mailto:info@yoursite.com"
          ><img
            src="images/e-mail.png"
            alt="E-mail"
            style="width:auto; height:15px;"
        /></a>

    <a href="mailto:lastik.info@gmail.com" style="font-weight: 100; color: white;">lastik.info@gmail.com</a>

      </p>
    <p>

    <a href="https://www.behance.net/lastik"
      ><img
        src="images/behance.png"
        alt="Behance"
        style="width:auto; height:15px;"
    /></a>
    <a href="https://www.instagram.com/lastik.studio/"
      ><img
        src="images/instagram.png"
        alt="Instagram"
        style="width:auto; height:15px;"
    /></a>

    <a href="https://vimeo.com/lastik"
      ><img src="images/vimeo.png" alt="Vimeo" style="width:auto; height:15px;"
    /></a>
  </p>
</footer>
