
<footer>


<p><a href="https://www.instagram.com/lastik.studio/">Instagram</a> <a href="https://vimeo.com/lastik">Vimeo</a> <a href="https://www.facebook.com/lastikstudio/">Facebook</a> <a href="https://www.behance.net/lastik">Behance</a></p>



<p><a href="https://www.instagram.com/lastik.studio/"><img src="images/instagram.png" alt="Instagram" style="width:30px; height:30px;"></a> <a href="https://vimeo.com/lastik"><img src="images/vimeo.png" alt="Vimeo" style="width:30px; height:30px;"></a></p>


</footer>
