<header>
  <p>

    <a href="https://www.behance.net/lastik"
      ><img
        src="images/behance.png"
        alt="Behance"
        style="width:auto; height:25px;"
    /></a>


    <a href="https://www.instagram.com/lastik.studio/"
      ><img
        src="images/instagram.png"
        alt="Instagram"
        style="width:auto; height:25px;"
    /></a>

    <a href="https://vimeo.com/lastik"
      ><img src="images/vimeo.png" alt="Vimeo" style="width:auto; height:25px;"
    /></a>
  </p>

  <div class="video-container">
              <video autoplay muted loop>
              <source src="{{page.video}}" type="video/mp4">
              <source src="{{page.video}}" type="video/ogg">
  						<source src="{{page.video}}" type="video/mov">
  						<source src="{{page.video}}" type="video/m4v">
  						<source src="{{page.video}}" type="video/gif">
              </video>
</header>
