<header>
  <p>
    <a href="https://www.instagram.com/lastik.studio/"
      ><img
        src="images/instagram.png"
        alt="Instagram"
        style="width:auto; height:30px;"
    /></a>

    <a href="https://vimeo.com/lastik"
      ><img src="images/vimeo.png" alt="Vimeo" style="width:auto; height:30px;"
    /></a>

    <a href="https://www.behance.net/lastik"
      ><img
        src="images/behance.png"
        alt="Behance"
        style="width:auto; height:30px;"
    /></a>
  </p>
  <div class="content">
    <div class="lastik">
               <img alt="Lastik" src="images/new_logo.svg"
               width="auto" height="250px">
    </div>
  <div class="center">
  <a align="center" href="/vimeo" class="myButton">REEL</a>
  </div>
</header>
