<table class="top" style="width:100%">
		<tr>
			<td>Country: <span class="toptable-meta">{{ page.brand }}</span></td> <td>Brand: <span class="toptable-meta">{{ page.brand }}</span></td>
		</tr>
		<tr>
			<td>Client: <span class="toptable-meta">{{ page.client }}</span></td> 	<td>Agency: <span class="toptable-meta">{{ page.agency }}</span></td>
		</tr>
		<tr>
			<td>Dir: <span class="toptable-meta">{{ page.direction }}</span></td> <td>Illustration: <span class="toptable-meta">{{ page.art }}</span></td>
		</tr>
		<tr>
			<td>Music: <span class="toptable-meta">{{ page.music }}</span></td> <td>Sound: <span class="toptable-meta">{{ page.sound }}</span></td>
		</tr>
		<tr>
			<td>Animation: <span class="toptable-meta">{{ page.animation }}</span></td> <td>Production: <span class="toptable-meta">{{ page.production }}</span></td>
		</tr>
		<tr>
			<td>Year: <span class="toptable-meta">{{ page.year }}</span></td> <td>Duration: <span class="toptable-meta">{{ page.duration }}</span></td>
		</tr>
	</table>
