<div id="wrapper">
<br>
<div class="video-container">
            <video autoplay muted loop>
            <source src="{{page.video}}" type="video/mp4">
            <source src="{{page.video}}" type="video/ogg">
						<source src="{{page.video}}" type="video/mov">
						<source src="{{page.video}}" type="video/m4v">
						<source src="{{page.video}}" type="video/gif">
            </video>
            <br>
     <h1>We provide animation and graphics for advertising, film and educational projects
</h1>
        </div>
