<div id="wrapper-small">
<br>
<div class="video-container-small">
            <video autoplay muted loop>
                <source src="{{page.video}}" type="video/mp4">
                <source src="{{page.video}}" type="video/ogg">
						    <source src="{{page.video}}" type="video/mov">
						    <source src="{{page.video}}" type="video/m4v">
						    <source src="{{page.video}}" type="video/gif">
            </video>
	<div class="overlay-desc-small">
        <div class="overlay-name-small"><mark-small>{{page.shortname}}</mark-small></div>
     </div>
        </div>
