<table class="top" style="width:100%">
		<tr>
			<td>Бренд: <span class="toptable-meta">{{ page.brand }}</span></td> <td>Бренд: <span class="toptable-meta">{{ page.brand }}</span></td>
		</tr>
		<tr>
			<td>Клиент: <span class="toptable-meta">{{ page.client }}</span></td> 	<td>Агенство: <span class="toptable-meta">{{ page.agency }}</span></td>
		</tr>
		<tr>
			<td>Режиссура: <span class="toptable-meta">{{ page.direction }}</span></td> <td>Рисунки: <span class="toptable-meta">{{ page.art }}</span></td>
		</tr>
		<tr>
			<td>Музыка: <span class="toptable-meta">{{ page.music }}</span></td> <td>Звук: <span class="toptable-meta">{{ page.sound }}</span></td>
		</tr>
		<tr>
			<td>Анимация: <span class="toptable-meta">{{ page.animation }}</span></td> <td>Продакшен: <span class="toptable-meta">{{ page.production }}</span></td>
		</tr>
		<tr>
			<td>Дедлайн: <span class="toptable-meta">{{ page.deadline }}</span></td> <td>Длительность: <span class="toptable-meta">{{ page.duration }}</span></td>
		</tr>
	</table>
